extends layout

block content
  div.container-fluid  
    div.row
      div.col-xs-6
        p.titleHome Top 10 best scores
        
        each restaurant in restaurants
          div #{restaurant._id} : #{restaurant.average} 
              
              
      div.col-xs-6
        p.titleHome Lasts comments
