body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

.navbar-brand{
  padding: 10px;
}
.titleHome{
  color: red;
}
.page{
  padding:5px;
}

.cuisine, .borough{
  margin-left: 5px;
}
