body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

.navbar-brand{
  padding: 10px;
}
.titleHome{
  color: #333;
  font-size: 1.4em;
}
.box{
  border: 1px solid rgb(83, 83, 83);
  border-radius: 5px;
  margin: 30px;
  padding: 20px;
}
.restau{
  color: rgb(83, 83, 83);
}
.page{
  padding:5px;
}

.cuisine, .borough{
  margin-left: 5px;
}
